In [ ]:
n=10

In [ ]:
print(n)

In [ ]:
type(n)

In [ ]:

num int("10")
print num

In [ ]:
print str num

In [ ]:
#1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla
numero= 10
print (numero)

In [ ]:
# 2) Imprimir el tipo de dato de la constante 8.5
type (8.5)

In [ ]:
# 3) Imprimir el tipo de dato de la variable creada en el punto 1
type(numero)

In [ ]:
# 4) Crear una variable que contenga tu nombre
mombre="aldo"

In [ ]:
 #5) Crear una variable que contenga un número complejo
numcompl= 3

In [ ]:
# 6) Mostrar el tipo de dato de la variable crada en el punto 5
type(numcompl)

In [ ]:
# 7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales
pi= 3.1416

In [ ]:
# 8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?
var1= "True"
var2= True

In [ ]:
# 9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8
print(type(var1))
print(type(var2))

In [ ]:
# 10) Asignar a una variable, la suma de un número entero y otro decimal
s=10+4.2

In [ ]:
# 11) Realizar una operación de suma de números complejos
a=5+3j
b=2+3j
print(a+b)

In [ ]:
# 12) Realizar una operación de suma de un número real y otro complejo
c= a+4.10
print(c)

In [ ]:
# 13) Realizar una operación de multiplicación
print(8*2)

In [ ]:
# 14) Mostrar el resultado de elevar 2 a la octava potencia
print(2**8)

In [ ]:
# 15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla
e=24/4
print(e)

In [43]:
# 16) De la división anterior solamente mostrar la parte entera
print(int(e))

6

In [44]:
# 17) De la división de 27 entre 4 mostrar solamente el resto
27%4

3

In [45]:
# 18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado
4*6+3

27

In [47]:
# 19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas
vari1= "hola"
vari2= " aldo"
print (vari1 + vari2)

hola aldo

In [53]:
# 20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?
2=="2"

False

In [55]:
# 21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera
2== int ("2")

True

In [57]:
# 22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')
a = float("3,8")
#porque el float esta conteniendo un tipo de str y tiene un coma ademas.

ValueError: could not convert string to float: '3,8'

In [58]:
# 23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.
n=3
n-=1
print(n)

2

In [59]:
# 24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?
1<<2

4

In [60]:
# 25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?
2+"2"#no esta permitido porque uno de ellos esta como cadena y no se puede, los operandos si son del mismo tipo siempre arrojarian el mismo resultado

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [61]:
# 26) Realizar una operación válida entre valores de tipo entero y string
n=2
n1="2"
print(n+ int(n1))

4